---
import { formatDate } from "../lib/helpers";
import BasicLayout from "./BasicLayout.astro";

interface Props {
  frontmatter: {
    title: string;
    description: string;
    pubDate: Date;
    minutesRead?: string;
  };
}

const { slug } = Astro.params;
const { frontmatter } = Astro.props;
---

<BasicLayout
  slug={slug}
  page="blog"
  title={`Bastien Faivre - ${frontmatter.title}`}
  description={frontmatter.description}
>
  <main class="mx-auto max-w-3xl w-full h-screen p-8 text-neutral-100">
    <a
      href="/blog"
      class="text-neutral-100 bg-neutral-900 hover:bg-neutral-800 px-4 py-2 border-1 border-solid border-neutral-600 rounded-lg mb-8"
      >Back</a
    >
    <h1 class="text-4xl font-bold mb-4 text-neutral-100">
      {frontmatter.title}
    </h1>
    <div class="flex justify-between pt-4 text-gray-500 text-sm">
      <p>{formatDate(new Date(frontmatter.pubDate))}</p>
      <p>{frontmatter.minutesRead}</p>
    </div>
    <article
      class="text-neutral-200 text-lg text-justify prose prose-p:text-red-500 prose-slate prose-invert pb-8"
    >
      <slot />
    </article>
  </main>
</BasicLayout>
